/* Global CSS */
* {
    font-family: 'Nunito';
    font-size: 20px;
    top: 0;
    left: 0;
}

/* Background CSS */
.background {
    background-size: cover;
    background-image: url('../img/background-img.jpeg');
    position: relative;
    height: 620px;
}

/* Logo CSS */
logo {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
    
    .geo {
        margin: auto;
        display: flex;
        align-content: center;
        position: relative;
    }

    .geo-p {
        display: flex;
        flex-direction: column;
    }

    .geo p {
        margin: auto;
        margin-top: 1px;
        opacity: 0.7;
        transition-duration: 400ms;
        
    }

    .geo p:hover {
        opacity: 1;
    }

        .geo p, .geo a {
            font-size: 12px;
            color: #222;
            margin-left: 10px;
        }

        .geo a {
            text-decoration: underline;
        }

        .geo img {
            height: 24px;
            opacity: 0.7;
            transition-duration: 400ms;
            border: 1px solid grey;
            padding: 8px;
        }
    
    .logo-wrapper {
        margin: auto;
    }

    #logo {
        padding: auto;
        margin: 0 auto;
        position: relative;
        height: 100px;
        transition-duration: 400ms;
    }    

    .social {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        height: 24px;
    }

        .social img {
            padding: 8px;
            opacity: 0.7;
            transition-duration: 400ms;
            border: 0.1px solid grey;
        }

        .social img:hover {
            opacity: 1.0;
        }

/* Section CSS */ 
.content {
	padding: 0;
}

.section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}


.section--menu {
	position: relative;
	overflow: hidden;
    background-color: #fff;
    opacity: 0.8;
	padding: 10px 0;
    margin: 0 1rem;
}

/* Menu CSS */ 

.menu a {
	text-decoration: none;
	color: #4e3c3e;
    font-family: 'Playfair Display';
    font-size: 15px;
    font-weight: 300;
	outline: none;
}

.menu a:hover,
.menu a:focus {
	color: #f48b95;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 0;
}

.menu__link {
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

.menu--viola .menu__item {
	position: relative;
	margin: 0 1em;
}

.menu--viola .menu__link {
	position: relative;
	display: block;
	text-align: center;
	color: #929292;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--viola .menu__link:hover,
.menu--viola .menu__link:focus {
	color: #fff;
}

.menu--viola .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--viola .menu__item::before,
.menu--viola .menu__item::after,
.menu--viola .menu__link::before,
.menu--viola .menu__link::after {
	content: '';
	position: absolute;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--viola .menu__item::before,
.menu--viola .menu__item::after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

.menu--viola .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.menu--viola .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.menu--viola .menu__link::before,
.menu--viola .menu__link::after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.menu--viola .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--viola .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--viola .menu__item--current::before,
.menu--viola .menu__item--current::after,
.menu--viola .menu__item--current .menu__link::before,
.menu--viola .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

/* Section CSS 1: Our Mission */

/* Section CSS 2: Featured Tea */
.featured {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #fff;
    padding-top: 50px;
    text-align: center;
}

#feature {
    padding-bottom: 25px;
}

#feature h2 {
    font-family: 'Playfair Display';
    font-size: 20px;
    font-style: italic;
    padding-bottom: 15px;
}

#feature p {
    font-size: 12px;
    font-weight: 200;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img-container {
    width: auto;
    height: 18rem;
    margin: 0 auto;
}

#caption {
    text-align: center;
    color: #222;
    height: 20em;
}

#caption p {
    width: 90%;
    margin: auto;
    padding: 5px 25px;
    font-family: 'Playfair Display';
    font-size: 15px;
    font-style: italic;
    background-color: #fff;
    opacity: 0.9;
}

.img-berry {
    background-image: url('../img/berrytea.png');
    width: auto;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.img-rum {
    width: auto;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-image: url('../img/icedrum.png');
 }

.img-chai {
    width: auto;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-image: url('../img/variety.png');
}

.img-sencha {
    margin: 0 10px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-image: url('../img/lemon.png')
}

.img-souchong {
    width: auto;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-image: url('../img/hongkongrose.png');
}

/* Footer CSS */
footer {
    height: auto;
    background-color: black;
    position: relative;
    color: #fff;
    text-align: center;
}

/* Section CSS 2: About Us */
.about {
    position: relative;
    padding: 150px 0;
    width: 100%;
}

.about p {
    height: auto;
    width: 80%;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin: 0 auto;
}

.about .quote {
    width: 60%;
    margin: 0 auto;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    border-left: 1px solid grey;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* Section CSS 3: Locations */
.locations {
    width: auto;
    height: 400px;
    background-image: url('https://static.skillshare.com/uploads/project/c047adb66b5f13e0757efcd09b416b99/2e35f7d2');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.locations #title {
    background: none;
    top: 40px;
    font-family: 'Playfair Display';
    font-size: 22px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 400;
}

.location-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 110px;
}

.location {
    top: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    line-height: 100%;
    border-radius: 50%;
    background-color: #d94f5c;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    transition-duration: 400ms;
}

.location:hover {
    opacity: 1;
}

.location h3 {
    font-size: 22px;
}

.location p {
    font-family: 'Playfair Display';
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
}
